@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Quicksand:wght@500&display=swap');

.header {
  display: flex;

  height: 68px;
  justify-content: space-around;
  align-items: center;

  background-color: #ffcc33;

  .logo {
    font-size: 20px;
    margin: 0;
    .text {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;

      .app {
        margin-left: 8px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
      }
    }
  }
}
